html, body, #app {
    /* border: solid 1px rgb(255, 255, 255); */
    min-height: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
}
.el-breadcrumb {
    margin-bottom: 15px;
}
.el-table {
    margin: 15px 0px;
  }